/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .heroBanner {
    padding: 2rem;
  }
}

.headerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: left;
}

/* 要求右对齐，当做背景*/
.backgroud {
  display: flex;
  align-items: right;
  justify-content: right;
}
.backgroundImage {
  /* height: 600;
  width: 600; */
  max-width: 50%; /* Adjust max-width for larger screens */
  height: auto;
  flex-shrink: 0; /* Prevent image from shrinking too much */
}

/* 媒体查询：在中等屏幕尺寸下垂直堆叠 */
@media screen and (max-width: 996px) {
  .headerSection {
    flex-direction: column;
    align-items: center; /* Center items when stacked */
    text-align: center; /* Center text when stacked */
  }

  .backgroundImage {
    margin-top: 2rem; /* Add space between text and image */
    max-width: 70%; /* Allow image to be larger on medium screens */
  }

  .buttons {
    justify-content: center; /* Center button when stacked */
  }
}

/* 媒体查询：在手机竖屏时隐藏右边的元素 */
@media (max-width: 600px) {
  .backgroundImage {
    display: none;
  }
  .buttons {
    align-items: center;
    justify-content: center;
  }
}

.welcome {
  text-align: left;
}